// ---- Global Docker settings ----
docker {
  enabled = true
}

// ---- Global AWS credentials (only used if awsbatch profile is active) ----
aws {
  accessKey = '*'
  secretKey = '*'
  region = 'us-east-2'
}

// ---- Default parameters ----
params {
    bcl_dir     = 'tests/example_bcl'          
    samplesheet = 'tests/example.csv'    
    outdir      = 'results'    
}

// ---- Profiles ----
profiles {

  // --- For GitHub Actions CI or local dev ---
  test {
    process.executor = 'local'
    docker.enabled = true
    params {
     bcl_dir     = 'tests/example_bcl'          
     samplesheet = 'tests/example.csv'    
     outdir      = 'results'    
    }
  }

  // --- Optional: production run with AWS Batch ---
  awsbatch {
    process {
    executor = 'awsbatch'        
    cpus = 2
    memory = '4 GB'
    time = '4h'

    withName:BCLCONVERT {
        container = 'seqwell/bcl-convert:4.4.6'
        publishDir = [
            path: "${params.outdir}/bclconvert",
            mode: 'copy'
        ]
    }

    withName:SUMMARIZE_DEMUX {
        container = 'ubuntu:22.04'
        publishDir = [
            path: "${params.outdir}/summary",
            mode: 'copy'
        ]
    }
}

    aws {
      accessKey = '*'
      secretKey = '*'
      region = 'us-east-2'
    }
  }
}

// ---- Process-specific settings (default local + docker) ----
process {
    executor = 'local'        
    cpus = 2
    memory = '4 GB'
    time = '4h'

    withName:BCLCONVERT {
        container = 'seqwell/bcl-convert:4.4.6'
        publishDir = [
            path: "${params.outdir}/bclconvert",
            mode: 'copy'
        ]
    }

    withName:SUMMARIZE_DEMUX {
        container = 'ubuntu:22.04'
        publishDir = [
            path: "${params.outdir}/summary",
            mode: 'copy'
        ]
    }
}

